
  <nav class="navbar navbar-expand-lg navbar-light">
    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
      <button class="btn btn-outline-info btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
    </form>
    <a class="navbar-brand mr-3 pr-3" href="{% url 'home' %}">Awwards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div class="pr-3 mr-auto " data-toggle="modal" data-target="#login">
        <a href="#">
          <span class="navbar-text dark-text" >
            REGISTER / LOGIN
          </span>
        </a>
        </div>
      <div class="mr-auto">
        <a href="{% url 'submissions' %}">
          <span class="navbar-text dark-text" >
            SUBMIT YOUR SITE!
          </span>
        </a>
      </div>
      {% if user.is_authenticated %}
      <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                  <span class="caret"></span>
              </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Create Article</a>
          </li>
          <li>
            <a href="/accounts/password/change">Change Password</a>
          </li>
          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
      </li>
      </ul>
      {% endif %}
    </div>
  </nav>





