{% extends 'auth/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
.login_pic img{
  height: 90vh;
}
</style>

<div class="container-fluid">
  <div class="row pt-3 mt-3">
    <div class="col-md-6 login_pic">
      <img src="{% static 'img/bg-login.jpg' %}"  alt="" class="card-img-top">
    </div>
    <div class="col-md-6">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <small>{{ message }}</small>
          </div>
        {% endfor %}
      {% endif %}
      <fieldset class="form-group mt-3 pt-3">
        <form action="" method="POST">
          {% csrf_token %}
          {{form|crispy}}
          <div class="form-group">
            <input type="submit" class="btn btn-outline btn-info" value="Login">
          </div>
        </form>
        <small><p><strong>Dont </strong>have an Account <a href="{% url 'register' %}">Register</a></p></small>
      </fieldset>
    </div>
  </div>
</div>

{% endblock %}